<div id="cross-close-details" class="cross-close link-underline">
  <a href="#/">
    <i class="fa fa-times fa-2x"></i>
  </a>
</div>
<div class="container-fluid fixed-width fixed-width" id="box-details-wrapper">
  <div class="row transparent">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center details-banner" id="details-banner-left">
      <i class="fa fa-4x {{box.icon_image}}"></i>
      <h2>{{box.display_name}}</h2>
      <span class="color_{{box.state}}">
        {{box.output}}
      </span>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bgcolor_{{box.state}} text-center details-banner" id="details-banner-right">
      <div id="gauge" class="200x160px"></div>
    </div>
  </div>
  <div class="row transparent" ng-if="box.display_map">
    <div class="col-xs-12 box-content" id="map"
         ng-init="renderMap()">
    </div>
  </div>
  <div class="row transparent">
    <div class="col-xs-12 box-content">
      <h2>{{box.notes}} <small ng-if="box.notes_url" class="link-underline">
          <a href="{{box.notes_url}}">Source</a>
      </small></h2>
      <tabset type="pills" id="details-tab-wrapper">
        <tab heading="CRITICAL ({{nb_problems[2]+nb_problems[3]}})"
             class="details-tab details-tab-critical">
          <ul class="link-underline details-tab-content">
            <li ng-repeat="elem in elements" ng-if="elem.state >= 2">
                <a href="{{elem.action_url}}">{{elem.display_name}}</a>
                <br>
                <span class="color_{{elem.state}}">{{elem.plugin_output}}</span>
            </li>
          </ul>
        </tab>
        <tab heading="WARNING ({{nb_problems[1]}})" class="details-tab details-tab-warning">
          <ul class="link-underline details-tab-content">
            <li ng-repeat="elem in elements" ng-if="elem.state == 1">
                <a href="{{elem.action_url}}">{{elem.display_name}}</a>
                <br>
                <span class="color_{{elem.state}}">{{elem.plugin_output}}</span>
            </li>
          </ul>
        </tab>
        <tab heading="OK ({{nb_problems[0]}})" class="details-tab details-tab-ok">
          <ul class="link-underline details-tab-content">
            <li ng-repeat="elem in elements" ng-if="elem.state == 0">
                <a href="{{elem.action_url}}">{{elem.display_name}}</a>
                <br>
                <span class="color_{{elem.state}}">{{elem.plugin_output}}</span>
            </li>
          </ul>
        </tab>
      </tabset>
    </div>
  </div>
  <pre style="display: none;">{{box | json}}</pre>
  <pre style="display: none;">{{elements | json}}</pre>
</div>
