<div class="container-fluid container-xs-height">
  <div class="row transparent" id="banner">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="banner-left">
      Condition de l'ensemble des infrastructures au Québec
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center" if="banner-right">
      <span class="fa-stack fa-lg" style="font-size: 4em;">
        <i class="fa fa-circle fa-stack-2x color_0"></i>
        <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
      </span>
    </div>
  </div>
  <div class="row text-center" id="banner2">
    En ce moment au Québec
  </div>
  <div class="row row-xs-height">
    <div class="box_cont col-lg-3 col-md-4 col-sm-6 col-xs-12 col-xs-height"
         ng-repeat="box in boxes">
      <a class="box bordercolor_{{box.state}}" href="#/details/{{box.host_name}}">
        <i class="fa fa-3x {{box.icon_image}} icon_color"></i>
        <h2>{{box.display_name}}</h2>
        <span ng-if="box.plugin_output == 'all checks were successful.'" class="color_{{box.state}}">
          ok
        </span>
        <span ng-if="box.plugin_output != 'all checks were successful.'" class="color_{{box.state}}">
          <span ng-if="box.plugin_output.length < 2">
            {{box.plugin_output.length}} problème
          </span>
          <span ng-if="box.plugin_output.length >= 2">
            {{box.plugin_output.length}} problèmes
          </span>
        </span>
      </a>
    </div>
  </div>
</div>
