<div id="more-info">
  <div id="cross-close-info">
    <a href="#/">
      <i class="fa fa-times fa-2x"></i>
    </a>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <span style="font-size: 2em;">
          Québec 24x7 est une application supervisant en permanence
          certaines métriques au Québec.
        </span>
      </div>
      <div class="col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-5">
        <h3>Crédits :</h3>
        <strong>Application</strong> : réalisée avec <i class="fa fa-heart"></i> par
        l'équipe Supervision de <a href="http://savoirfairelinux.com">Savoir-faire Linux</a>
        (<a href="https://github.com/matthieucan">Matthieu Caneill</a>,
        <a href="https://github.com/ReAzem">Alexandre Viau</a>,
        <a href="https://github.com/Seb-Solon">Sébastien Coavoux</a>,
        <a href="https://github.com/titilambert">Thibault Cohen</a>).
        <br>
        <strong>Design</strong> : réalisé par l'équipe Web de
        Savoir-faire Linux
        (<a href="https://twitter.com/EdmondEmilien">Émilien
        Edmond</a>).
        
        <h3>Idée :</h3>
        Idée : grandement inspirée de <a href="http://iceland.adagios.org">
          iceland.adagios.org</a>
        par <a href="https://github.com/palli">@palli</a>.
        
        <h3>Cartographie :</h3>
        <a href="http://openstreetmap.org">OpenStreetMap</a>.
        
        <h3>Photographie de fond :</h3>
        "Montréal, le soir" par <a href="https://www.flickr.com/photos/xkristinax/7987570964">Kristina
        Servant</a>.
        
        <h3>Contact</h3>
        <a href="mailto:supervision@savoirfairelinux.com">supervision@savoirfairelinux.com</a>
        
        <h3>Hack</h3>
        <strong>Back-end</strong> : Python, Django, Docker
        <br>
        <strong>Front-end</strong> : AngularJS, Bootstrap
        <br>
        <strong>Supervision</strong> : Shinken, Adagios
      </div>
      <div class="col-lg-3">
        <a href="https://github.com/savoirfairelinux/quebec-monitoring"
        class="info-button">Sources de l'application</a>
        <br>
        <a href="https://github.com/savoirfairelinux/quebec-monitoring/issues/new"
        class="info-button">Rapporter un bug</a>
        <br>
        <a href="https://github.com/savoirfairelinux/quebec-monitoring/blob/master/README.md"
        class="info-button">Informations pour contributeurs</a>
        <br>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</div>
