  
<div class="remodal-overlay">
  <div class="remodal-wrapper">
    <div class="remodal" data-remodal-id="modal">


  <div id="more-info" class=" at-view-slide-in-bottom at-view-slide-out-bottom" >
  <div id="cross-close-info" class="cross-close link-underline">
    <a class="remodal-cancel" href="#/">
      <i class="fa fa-times fa-2x"></i>
    </a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="header-info">
            <h2>Québec 24/7 est une application supervisant <br />en permanence certaines métriques au Québec.</h2>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-10 col-xs-12 link-underline">
        <section class="section-info">
          <h3 class="no-margin-top">Crédits :</h3>
          <ul>
            <li>
              <strong>Application</strong> : réalisée avec <i class="fa fa-heart"></i> par
              l'équipe Supervision de <a href="http://savoirfairelinux.com">Savoir-faire Linux</a>
              (<a href="https://github.com/matthieucan">Matthieu Caneill</a>,
              <a href="https://github.com/ReAzem">Alexandre Viau</a>,
              <a href="https://github.com/Seb-Solon">Sébastien Coavoux</a>,
              <a href="https://github.com/titilambert">Thibault
              Cohen</a>), et également
              par d'<a href="https://github.com/savoirfairelinux/quebec-monitoring/blob/master/AUTHORS">autres
              contributeurs</a>.
            </li>
            <li>
              <p class="section-info_content"><strong>Design</strong> : réalisé par l'équipe Web de Savoir-faire Linux
                (<a href="https://twitter.com/EdmondEmilien">Émilien Edmond</a>).</p>
            </li>
          </ul>
        </section>
        <section class="section-info">
          <h3>Idée :</h3>
          <p class="section-info_content">Idée : grandement inspirée de <a href="http://iceland.adagios.org">
            iceland.adagios.org</a>
          par <a href="https://github.com/palli">@palli</a>.</p>
        </section>

        <section class="section-info">
          <h3>Cartographie :</h3>
          <p class="section-info_content"><a href="http://openstreetmap.org">OpenStreetMap</a>.</p>
        </section>

        <section class="section-info">
          <h3>Photographie de fond :</h3>
          <p class="section-info_content">"Montréal, le soir" par <a href="https://www.flickr.com/photos/xkristinax/7987570964">Kristina
          Servant</a>.</p>
        </section>
        
        <section class="section-info">
          <h3>Contact</h3>
          <p class="section-info_content"><a href="mailto:supervision@savoirfairelinux.com">supervision@savoirfairelinux.com</a></p>
        </section>

      </div>
      <div class="col-md-2 col-md-offset-2 col-sm-10 col-xs-12 info-buttons link-underline">
        <a href="https://github.com/savoirfairelinux/quebec-monitoring" 
          class="btn btn-block info-button">Sources de l'application</a>
        <a href="https://github.com/savoirfairelinux/quebec-monitoring/issues/new" 
          class="btn btn-block info-button">Rapporter un bug</a>
      </div>
    </div>

  </div> 
    
  <div class="section-top-border clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-10 col-xs-12">
          <section class="section-info">
            <h3 class="no-margin-top">Technologies utilisées :</h3>
            <ul>
              <li><strong>Languages</strong> : Python, JavaScript, jQuery, HTML, CSS</li>
              <li><strong>Supervision</strong> : Shinken, Pynag, Adagios</li>
              <li><strong>Serveur</strong> : Ubuntu, Apache, Docker</li>
            </ul>
          </section>
        </div>

        <div class="col-md-2 col-md-offset-2 col-sm-10 col-xs-12">
          <a href="https://github.com/savoirfairelinux/quebec-monitoring" 
            class="btn btn-block info-button">Parcourir le code source</a>
          <a href="https://github.com/savoirfairelinux/quebec-monitoring/blob/master/README.md"
            class="btn btn-block info-button">Informations pour contributeurs</a>
        </div>
        </div>
      </div>
    </div>
  
  </div>
   </div>
</div>
</div>
