// AngularJS animations
// =====================================================================
// =====================================================================

.at-view-slide-in-bottom.ng-enter {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: translate(0px, 100%);
    -moz-transform: translate(0px, 100%);
    -ms-transform: translate(0px, 100%);
    -o-transform: translate(0px, 100%);
    transform: translate(0px, 100%);
    opacity: 0;
    z-index: 1;
    position: absolute;
}

.at-view-slide-in-bottom.ng-enter-active {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    position: absolute;
}

.at-view-slide-out-bottom.ng-leave {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    z-index: 3;
    position: absolute;
}

.at-view-slide-out-bottom.ng-leave-active {
    -webkit-transform: translate(0px, 100%);
    -moz-transform: translate(0px, 100%);
    -ms-transform: translate(0px, 100%);
    -o-transform: translate(0px, 100%);
    transform: translate(0px, 100%);
    opacity: 0;
}
