// BASE
// ===========================================================================
// ===========================================================================

/*
$open_sansitalic: 'open_sansitalic';
$open_sansregular: 'open_sansregular';
$open_sansbold: 'open_sansbold';

$open_sanslight: 'open_sanslight';
$open_sanssemibold: 'open_sanssemibold';
*/

body {
    font-family: $open_sansregular, "Helvetica Neue", Helvetica,Arial,sans-serif;
    background: url("../img/montreal.jpg") no-repeat center top fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding-bottom: 5em;
}

html, body { overflow: auto !important; margin: 0; }

.nav,
.pagination,
.carousel,
.panel-title a { 
    cursor: pointer;
}

.transparent {
    background:transparent;
    background-color: rgba(0,0,0,.5);
}

// HEADINGS
// ===========================================================================

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5 { color: #fff; }
h2 { font-size: 1.6em; }
h2 small { margin-left: 0.5em; }

// LINKS
// ===========================================================================


a { color: #fff; }
a:active, a:hover { color: rgba(255,255,255,0.8); }
.link-underline a { text-decoration: underline; }

// OTHER
// ===========================================================================
section {
    margin-bottom: 2em;
}