/*------------------------------------*\
    #RESPONSIVE
\*------------------------------------*/
/* Large devices */
@media (min-width: 992px) {
    #details-banner-right {
        border-image-source: url(../img/triangle_black.png);
        border-image-slice: 0% 0% 0% 100%;
        border-width: 0px 0px 0px 12px;
    }
    .details-tab-content {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .container { max-width: 957px !important; }
}

/* Medium devices */
@media(max-width: 992px) {
    .banner__left {
        margin-bottom: 0.5em;
        border-right: none;
        text-align: center;
    }
    .banner__left:before {
        margin-left: auto;
        margin-right: auto;
    }
    #more-info {
        padding-top: 1em;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .infras__box {
        font-size: 100%;
    }
}

/* Small devices */
@media (max-width: 768px) {
    .banner__right {
        background: none;
    }
}

/* Extra small devices */
@media (max-width: 500px) {
    .banner-bottom {
        font-size: 70%;
    }
    .infras__box {
        font-size: 95%;
    }
    .infras__box h2 {
        margin: 0;
    }
    .box {
        bottom: 5%;
        left: 5%;
        right: 5%;
        top: 5%;
    }
    .box__details {
        position: initial;
    }
    .details-banner {
        height: 150px;
    }
}