// VARIABLES
// ===========================================================================
// ===========================================================================

// TYPOGRAPHY
// ===========================================================================
$open_sansitalic: 'open_sansitalic';
$open_sansregular: 'open_sansregular';
$open_sansbold: 'open_sansbold';

$open_sanslight: 'open_sanslight';
$open_sanssemibold: 'open_sanssemibold';

// COLORS
// ===========================================================================
$green: #65c178;
$orange: #f39c12;
$red: #e74c3c;
$grey: #5c5c5c;