/* app css stylesheet */

/**
 * CONTENTS
 *
 * BASE
 * Headings.............H1–H6 styles.
 * Links................Styling for links
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Banner-top...........The main banner top.
 * Banner-bottom........The main banner bottom.
 * Boxes................Boxes containing details state.
 * State-color..........Colors for changes of states.
 * Decorative lines.....Lines used as decoration on titles & other elements.
 * Icons................Icons elements.
 * Cross close..........Cross Close element.
 * Partial Homepage.....Homepage elements.
 * Partial Details......Details page elements.
 * Partial Infos........Infos page elements.
 *
 * RESPONSIVE
 * Large devices........Responsive ajustments for large devices
 * Medium devices.......Responsive ajustments for medium devices
 * Small devices........Responsive ajustments for small devices
 * Extra small devices..Responsive ajustments for extra-small devices
 *
 * HACKS................Workarounds
 *
 */


/*------------------------------------*\
    #BASE
\*------------------------------------*/

body {
    /*font-family: 'Open Sans', sans-serif;*/
    background: url("../img/montreal.jpg") no-repeat center top fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding-bottom: 5em;
}

.nav,
.pagination,
.carousel,
.panel-title a { 
    cursor: pointer;
}

.transparent {
    background: black;
    filter: alpha(opacity=50); /* YEAH IE */
    background: rgba(0, 0, 0, 0.50);
}

/** Headings **/
h1, h2, h3, h4, h5 {
    color: #fff;
}
h1 {
    font-size: 2em;
    margin-bottom: 1em;
}
h2 {
    font-size: 1.6em;
}
h2 small {
    margin-left: 0.5em;
}
/** Links **/
a {
    color: #fff;
}
a:active,
a:hover {
    color: rgba(255,255,255,0.8);
}
/** Other **/
section {
    margin-bottom: 2em;
}
/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/

/** Page-head **/
.site-title {
    text-align: center;
    margin-bottom: 1.5em;
}
.site-title a,
.site-title a:hover,
.site-title a:active,
.site-title a:visited {
    color: white;
    text-decoration: none;
}
/** Banner-top **/
.banner {
    padding: 1em;
}

.banner__left {
    font-size: 2em;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
}

/** Banner-bottom **/
.banner-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 3px 0;
    background-color: #65c178;
}
.banner-bottom a {
    vertical-align: text-top;
}

/** Boxes **/
.box {
    bottom: 15%;
    left: 15%;
    position: absolute;
    right: 15%;
    text-align: center;
    top: 15%;
    -moz-transition: all .3s cubic-bezier(.4,0,.2,1);
    -webkit-transition: all .3s cubic-bezier(.4,0,.2,1);
    transition: all .3s cubic-bezier(.4,0,.2,1);
}
.box--round {
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
}
.box--round:hover {
    border-width: 4px;
    text-decoration: none;
}
.box--round:before,
.box--round::after {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.32);
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.32);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.32);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transition: all .3s cubic-bezier(.4,0,.2,1);
    -webkit-transition: all .3s cubic-bezier(.4,0,.2,1);
    transition: all .3s cubic-bezier(.4,0,.2,1);
    width: 100%;
}
.box h2 {
    margin-bottom: 0;
}
.box__inner {
    display: table;
    height: 100%;
    width: 100%;
}
.box__inner_center {
    display: table-cell;
    vertical-align: middle;
}
.box .d-line:before {
    width: 65px;
}
.box:hover .icon--color{
    color: rgba(255, 255, 255, 1);
}
.box:hover .d-line:before {
    background: rgba(255, 255, 255, 1);
}

/***
 * State-color
 * 0: Green (OK)
 * 1: Orange (Warning)
 * 2: Red (Critical)
 * 3: Grey
 *
 * */
/* Green */
.bordercolor_0 { border-color: #65c178; }
.bordercolor_0:hover:after {
    -moz-box-shadow: 0 8px 17px 0 rgba(101,193,120,.31);
    -webkit-box-shadow: 0 8px 17px 0 rgba(101,193,120,.31);
    box-shadow: 0 8px 17px 0 rgba(101,193,120,.31);
}

.bgcolor_0 { background-color: #65c178; }

.color_0 { color: #65c178; }

/* Orange */
.bordercolor_1 { border-color: #f39c12; }
.bordercolor_1:hover:after {
    -moz-box-shadow: 0 8px 17px 0 rgba(243,156,18,.31);
    -webkit-box-shadow: 0 8px 17px 0 rgba(243,156,18,.31);
    box-shadow: 0 8px 17px 0 rgba(243,156,18,.31);
}

.bgcolor_1 { background-color: #f39c12; }

.color_1 { color: #f39c12; }

/* Red */
.bordercolor_2 { border-color: #e74c3c; }
.bordercolor_2:hover:after {
    -moz-box-shadow: 0 8px 17px 0 rgba(231,76,60,.31);
    -webkit-box-shadow: 0 8px 17px 0 rgba(231,76,60,.31);
    box-shadow: 0 8px 17px 0 rgba(231,76,60,.31);
}

.bgcolor_2 { background-color: #e74c3c; }

.color_2 { color: #e74c3c; }


/* Gray */
.bordercolor_3 { border-color: grey; }
.bordercolor_3:hover:after {
    -moz-box-shadow: 0 8px 17px 0 rgba(128,128,128,.31);
    -webkit-box-shadow: 0 8px 17px 0 rgba(128,128,128,.31);
    box-shadow: 0 8px 17px 0 rgba(128,128,128,.31);
}

.bgcolor_3 { background-color: grey; }

.color_3 { color: grey; }

/** Decorative lines **/
.d-line--after:after, 
.d-line:before {
    width: 10%;
    display: block;
    content: "";
    height: 1px;
    background-color: grey;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    -moz-transition: all .3s cubic-bezier(.4,0,.2,1);
    -webkit-transition: all .3s cubic-bezier(.4,0,.2,1);
    transition: all .3s cubic-bezier(.4,0,.2,1);
}
.d-line--2x.d-line--after:after,
.d-line--2x:before {
    height: 2px;
}
.d-line--green.d-line--after:after,
.d-line--green:before {
    background-color: rgba(101, 193, 92, 1.0);
}

.d-line--centered.d-line--after:after,
.d-line--centered:before {
    margin-left: auto;
    margin-right: auto;
}


/** Icons **/
.icon {
    -moz-transition: all .3s cubic-bezier(.4,0,.2,1);
    -webkit-transition: all .3s cubic-bezier(.4,0,.2,1);
    transition: all .3s cubic-bezier(.4,0,.2,1);
}
.icon--2x {
    font-size: 2em;
}
.icon--4x {
    font-size: 4em;
}
.icon--color {
    color: rgba(255, 255, 255, 0.7);
}

/** Cross Close **/
.cross-close {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1em;
    z-index: 10;
}
#cross-close-info {
    background-color: #299138;
}

#cross-close-details {
    background-color: black;
}

/** Partial Homepage **/
.homepage-title {
    font-size: 2em;
    margin-top: 0;
    text-align: center;
}
.homepage-title:before {
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    width: 5%;
}
.infras__box {
    padding: 0;
    font-size: 115%;
}
.infras__box:after {
    /* trick to keep height==width
       http://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout
    */
    content: '';
    display: block;
    margin-top: 100%;
}

/** Partial Details **/
.details-title {
    margin: 1em;
    font-size: 1.8em;
}
.details-title .label {
    vertical-align: text-top;
}
.details-banner {
    height: 180px;
    text-align: center;
}
.details-banner__left {
    background-color: black;
}
.details-tab {
    width: 33.333%;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    background-color: black;
    background-clip: content-box;
    border: 0;
    margin: 0 !important;
}
.details-tab.active {
    color: white;
    font-weight: 700;
    border-image-slice: 0% 0% 100% 0%;
    border-width: 0 0 12px 0;
}
.nav-pills > li.details-tab > a {
    background: none;
    border-radius: 0;
}
.nav-pills > li.details-tab > a:hover {
    background: rgba(255,255,255,0.07);
}
.box-content {
    padding: 0;
    background: #252525;
}
.details-tab-content {
    margin: 1.6em 0;
    list-style-type: none;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    padding: 0;
}
.details-tab-content li {
    display: block;
}
.details-tab-content a {
    display: block;
    padding: 15px 40px;
    text-decoration: none
}
.details-tab-content a:active,
.details-tab-content a:hover {
    background: rgba(255,255,255,0.1);
}
.details-tab-content__title {
    margin: 0;
    line-height: 1.5;
    text-decoration: underline;
    font-size: 1.15em;
}
/* Map */
#map {
    height: 300px;
    margin: 0;
}

/* Green (OK) */
.details-tab-ok a,
.details-tab-ok a:hover {
    color: #65c178;
}
.details-tab-ok.active {
    background-color: #65c178;
    border-image-source: url(../img/triangle_green.png);
}

/* Orange (Warning) */
.details-tab-warning {
    border-right: 2px solid #252525;
    border-left: 2px solid #252525;
}

.details-tab-warning a, 
.details-tab-warning a:hover {
    color: #f39c12;
}

.details-tab-warning.active {
    background-color: #f39c12;
    border-image-source: url(../img/triangle_orange.png);
}

/* Red (Critical) */
.details-tab-critical a, 
.details-tab-critical a:hover {
    color: #e74c3c;
}

.details-tab-critical.active {
    background-color: #e74c3c;
    border-image-source: url(../img/triangle_red.png);
}

/** Partial Infos **/
#more-info {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #65c178;
    padding-top: 4.5em;
    overflow-y: auto;
}
#more-info ul {
    list-style: none;
    padding: 0;
}
.info-buttons a:hover {
    color: white;
}
.info-button {
    color: white;
    background-color: #299138;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.3em;
    margin-bottom: 1em;
}
.info-button:hover,
.info-button:active {
    background-color: rgba(41, 145, 56, 0.75);
}



/*------------------------------------*\
    #RESPONSIVE
\*------------------------------------*/
/* Large devices */
@media (min-width: 992px) {
    #details-banner-right {
        border-image-source: url(../img/triangle_black.png);
        border-image-slice: 0% 0% 0% 100%;
        border-width: 0px 0px 0px 12px;
    }
    .details-tab-content {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

/* Medium devices */
@media(max-width: 992px) {
    .banner__left {
        margin-bottom: 0.5em;
        border-right: none;
        text-align: center;
    }
    .banner__left:before {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .infras__box {
        font-size: 100%;
    }
}

/* Small devices */
@media (max-width: 768px) {
    .infras__box {
        font-size: 125%;
    }
}

/* Extra small devices */
@media (max-width: 500px) {
    .banner-bottom {
        font-size: 70%;
    }
    .infras__box {
        font-size: 100%;
    }
    .infras__box h2 {
        margin: 0;
    }
    .infras__box .icon {
        display: none;
    }
    .box {
        bottom: 5%;
        left: 5%;
        right: 5%;
        top: 5%;
    }
}

/*------------------------------------*\
    #HACKS
\*------------------------------------*/
/* work-around to not display pink zones in Firefox */
.olImageLoadError{display: none !important;}

/* work-around for a bug affecting OpenLayers+Chrome
   https://github.com/openlayers/openlayers/issues/1181#issuecomment-29693277 */
.olTileImage {
    -webkit-backface-visibility: visible !important;
    -webkit-transform: none !important;
}
.olLayerGrid .olTileImage {
    -webkit-transition: none !important;
}
