/* app css stylesheet */

body {
    /*font-family: 'Open Sans', sans-serif;*/
    background: url("../img/montreal.jpg") no-repeat center top fixed !important;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    color: white !important;
}

#wrapper {}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.fixed-width {
    max-width: 972px;
    margin: auto;
}

h1 {
    margin-top: 1.2em!important;
    margin-bottom: 1.5em!important;
}

.transparent {
    background: black;
    filter: alpha(opacity=50); /* YEAH IE */
    background: rgba(0, 0, 0, 0.50);
}

#banner {
    padding: 1em;
}

#banner-left {
    font-size: 2em;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
}

#banner-left:before {
    width: 10%;
    display: block;
    content: "";
    margin-bottom: 5px;
    margin-top: 0.5em;
    height: 1px;
    background-color: rgba(101, 193, 92, 1.0);
}

#banner-right {

}

#banner2 {
    font-size: 2em;
    margin-top: 1em;
}

#banner2:before {
    margin: auto;
    width: 5%;
    display: block;
    content: "";
    height: 2px;
    background-color: rgba(101, 193, 92, 1.0);
}

div.box_cont {
    position:relative;
    padding: 0;
    max-width: 300px;
}

div.box_cont:after {
    /* trick to keep height==width
       http://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout
    */
    content: '';
    display: block;
    margin-top: 100%;
}

div.box-content {
    margin: 0;
    padding: 0;
    background: #252525;
}

div.box-content h2 {
    font-size: 1.5em;
    margin: 1em;
}

h1 {
    color: white!important;
}

.link-underline a {text-decoration: underline !important; color: white!important;}

.link-underline a:hover {color: white!important;}

.link-underline a:visited {color: white!important;}

.link-underline a:active {color: white!important;}

.bordercolor_0 {border-color: #65c178;}

.bordercolor_1 {border-color: #f39c12;}

.bordercolor_2 {border-color: #e74c3c;}

.bordercolor_3 {border-color: grey;}

.bgcolor_0 {background-color: #65c178;}

.bgcolor_1 {background-color: #f39c12;}

.bgcolor_2 {background-color: #e74c3c;}

.bgcolor_3 {background-color: grey;}

.color_0 {color: #65c178;}

.color_1 {color: #f39c12;}

.color_2 {color: #e74c3c;}

.color_3 {color: grey;}

.icon_color {color: rgba(255, 255, 255, 0.7);}

a.box {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 15%;
    right: 15%;
    text-align: center;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    -mox-box-shadow: 0 0 1px white;
    -webkit-box-shadow: 0 0 1px white;
    box-shadow: 0 0 1px white;
}

a.box:hover {text-decoration: none!important;}

.box_inner {
    display: table;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: -0.3em;
}

.box_inner_center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

a.box h2, #details-banner-left h2 {
    color: white;
    font-weight: 800;
    font-size: 1.6em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a.box h2:before, #details-banner-left h2:before,
a.box h2:after, #details-banner-left h2:after {
    width: 15%;
    max-width: 30px;
    display: block;
    content: "";
    margin: 5px auto 5px auto;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.4);
}

#banner_bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #65c178;
    padding: 0;
}

#more-info {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #65c178;
    padding-top: 4.5em;
}

.cross-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}

#cross-close-info {
    background-color: #299138;
}

#cross-close-details {
    background-color: black;
}

.info-button {
    display: table-cell;
    vertical-align: middle;
    width: 400px;
    color: white;
    background-color: #299138;
    text-align: center;
    text-decoration: none !important;
    margin-top: 1em;
    height: 3em;
    font-weight: 100;
    font-size: 1.3em;
}

.details-banner {
    height: 180px;
}

#details-banner-left {
    background-color: black;
    padding: 1em;
}

#details-banner-right {
    padding: 0;
    border-image-source: url(../img/barre_black.png);
    border-image-slice: 0% 0% 0% 100%;
    border-width: 0px 0px 0px 15px;
}

.details-tab {
    width: 33%;
    margin: 0;
    text-align: center;
    text-decoration: none !important;
    border-radius: 0 !important;
    background-color: black;
    background-clip: content-box !important;
    margin-bottom: 2em;
    border: 0 !important;
}
.details-tab a {
    background: none !important;
}

.details-tab.active {
    color: white;
    border-image-slice: 0% 0% 100% 0% !important;
    border-width: 0 0 15px 0 !important;
}

.details-tab a:hover {
    color: white;
}

.details-tab-ok a {
    color: #65c178;
}

.details-tab-warning a {
    color: #f39c12;
}

.details-tab-critical a {
    color: #e74c3c;
}

.details-tab-ok.active {
    background-color: #65c178 !important;
    border-image-source: url(../img/barre_green.png) !important;
}

.details-tab-warning.active {
    background-color: #f39c12 !important;
    border-image-source: url(../img/barre_orange.png) !important;
}

.details-tab-critical.active {
    background-color: #e74c3c !important;
    border-image-source: url(../img/barre_red.png) !important;
}
