/* app css stylesheet */

body {
    /*font-family: 'Open Sans', sans-serif;*/
    background: url("../img/montreal.jpg") no-repeat center top fixed; 
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#wrapper {
    max-width: 972px;
    margin: auto;
}

h1 {
    margin-bottom: 1.5em!important;
}

.transparent {
    background: black;
    filter: alpha(opacity=50); /* YEAH IE */
    background: rgba(0, 0, 0, 0.50);
    color: white;
}

#banner {
    padding: 1em;
}

#banner-left {
    font-size: 2em;
    color: white;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
}

#banner-left:before {
    width: 10%;
    display: block;
    content: "";
    margin-bottom: 5px;
    margin-top: 0.5em;
    height: 1px;
    background-color: rgba(101, 193, 92, 1.0);
}

#banner-right {

}

#banner2 {
    font-size: 2em;
    color: white;
    margin-top: 1em;
}

#banner2:before {
    margin: auto;
    width: 5%;
    display: block;
    content: "";
    height: 2px;
    background-color: rgba(101, 193, 92, 1.0);
}


div.box_cont {
    position:relative;
    padding: 0;
    max-width: 300px;
}

div.box_cont:after {
    /* trick to keep height==width
       http://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout
    */
    content: '';
    display: block;
    margin-top: 100%;
}

h1 {
    color: white!important;
}

a {color: white!important;}

a:hover {color: white!important; text-decoration: none!important;}

a:visited {color: white!important;}

a:active {color: white!important;}

.bordercolor_0 {border-color: #65c178;}

.bordercolor_1 {border-color: #f39c12;}

.bordercolor_2 {border-color: #e74c3c;}

.bordercolor_3 {border-color: grey;}

.color_0 {color: #65c178;}

.color_1 {color: #f39c12;}

.color_2 {color: #e74c3c;}

.color_3 {color: grey;}

.icon_color {color: rgba(255, 255, 255, 0.7);}

a.box {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 15%;
    right: 15%;
    text-align: center;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    -mox-box-shadow: 0 0 1px white;
    -webkit-box-shadow: 0 0 1px white;
    box-shadow: 0 0 1px white;
}

a.box h2 {
    color:  white;
    font-weight: 800;
    font-size: 1.6em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a.box h2:before,
a.box h2:after {
    width: 15%;
    display: block;
    content: "";
    margin: 5px auto 5px auto;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.4);
}
